
    /* rgba(0,0,0,0.8);  or 0.918*/ /*Default shade for transparency to use 
    
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        When configuring for sites the resolution is flipped, main first, second value last
    
    */
    


/*Mobile Resolutions*/
@media only screen and (max-device-width: 851px) /*831*/
{
    
    body
	{
        background-image: url(Black2.svg);
        background-repeat: repeat;
    }

    .wrapper
	{
		background-color: clear;
		margin-right: auto;
		margin-left: auto;
		width: 100%;

    }

    #MenuBar
    {
        background-image: url(B1.jpg); 
        background-position-y: 450px;
        background-position-x: -280px;

        background-color: red;
        

        position: absolute;
        top: 0.3px;
        left: 0.2px;    
        
        padding-top: 115px;
        padding-left: 832px;

    }

    #FutabWebsHeader
    {
        position: absolute;

        color: silver;

        left: 50px;
        top: -10px;

        font-size: 40px; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;

    }

    #FutabWebsHeader:hover
    {
        color: silver;
        font-size: 41px;
    }

    /* Main center text field */  
    .CenterTextBox
    {
        position: absolute;
        
        background-color: black;
        border-style: solid;
        border-radius: 20%;

        /* background-color: gray; */

        left: 0px;
        top: 115px;

        padding-top: 1930px;
        padding-left: 828px;

	/* border-style: dashed;*/ 
        
    }

       

    .FutabaLogo
    {   

        position: absolute;

        background-image: url(RB.jpg);
        background-size: 150px;
        background-repeat: no-repeat;

        left: 345px;
        top: -113px;

        cursor: pointer;
        height: 150px;
        width: 150px;
        margin: 0 2px;
        background-color: purple;
        border-radius: 50%;
        display: inline-block;
        transition: 0.1s ease;
    }

    .FutabaLogo:hover
    {
        height: 160px;
        width: 160px;
        background-position-x: 0px;
        background-size: 160px;
        background-image: url(RB2.jpg);
        
    }

    #Header1
    {
        position: absolute;

        color: silver;

        /* font-weight: bold; */

        top: 70px;
        right: 300px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
        
    }

    #Header1:hover
    {
        color: silver;
        font-size: 42px;
    }

    #Header2
    {
        position: absolute;

        color: silver;

        top: 110px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header2:hover
    {
        color: silver;
        font-size: 32px;
    }

    #Header3
    {
        position: absolute;

        color: silver;

        top: 860px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header3:hover
    {
        color: silver;
        font-size: 32px;
    }


    #Header4
    {
        position: absolute;

        color: silver;

        top: 1150px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header4:hover
    {
        color: silver;
        font-size: 32px;
    }

    #Header5
    {
        position: absolute;

        color: silver;

        top: 1590px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header5:hover
    {
        color: silver;
        font-size: 32px;
    }

   
    #Paragraph1
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 160px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph1:hover
    {
        color: silver;
        font-size: 25.5px;
    }

    #Paragraph2
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 910px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph2:hover
    {
        color: silver;
        font-size: 25.2px;
    }

    #Paragraph3
    {
        position: absolute;
  
        color: silver;

        right: 10px;
        top: 1210px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph3:hover
    {
        color: silver;
        font-size: 25.1px;
    }

    #Paragraph4
    {
        position: absolute;
 
        color: silver;

        right: 10px;
        top: 1640px;

        text-align: center;

        padding-left: 10px;

        font-size: 23px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph4:hover
    {
        color: silver;
        font-size: 23.5px;
    }
   

    #Image1
    {
        position: absolute;

        right: 111px;
        top: 430px;
    } 

    .Image11
    {
        height: 400px;
        transition: 0.6s ease;
    }

    .Image11:hover 
    {
        height: 410px;
    }


}




/*DeskTop Resolutions*/
@media only screen and (min-width: 852px)
{
    
    body
	{
        background-image: url(Black2.svg);
        background-repeat: repeat;
    }

    .wrapper
	{
		background-color: clear;
		margin-right: auto;
		margin-left: auto;
		width: 100%;

    }

    #MenuBar
    {
        background-image: url(B1.jpg); 
        background-position-y: 450px;
        background-position-x: 400px;

        background-color: red;
        

        position: absolute;
        top: 0.3px;
        left: 0.2px;    
        
        padding-top: 115px;
        padding-left: 1519px;

    }

    #FutabWebsHeader
    {
        position: absolute;

        color: silver;

        left: 100px;
        top: -10px;

        font-size: 40px; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;

    }

    #FutabWebsHeader:hover
    {
        color: silver;
        font-size: 41px;
    }

    /* Main center text field */  
    .CenterTextBox
    {
        position: absolute;
        
        background-color: black;
        border-style: solid;
        border-radius: 20%;

        /* background-color: gray; */

        left: 335px;
        top: 115px;

        padding-top: 1930px;
        padding-left: 828px;

	/* border-style: dashed;*/ 
        
    }

       

    .FutabaLogo
    {   

        position: absolute;

        background-image: url(RB.jpg);
        background-size: 150px;
        background-repeat: no-repeat;

        left: 345px;
        top: -113px;

        cursor: pointer;
        height: 150px;
        width: 150px;
        margin: 0 2px;
        background-color: purple;
        border-radius: 50%;
        display: inline-block;
        transition: 0.1s ease;
    }

    .FutabaLogo:hover
    {
        height: 160px;
        width: 160px;
        background-position-x: 0px;
        background-size: 160px;
        background-image: url(RB2.jpg);
        
    }

    #Header1
    {
        position: absolute;

        color: silver;

        /* font-weight: bold; */

        top: 70px;
        right: 300px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
        
    }

    #Header1:hover
    {
        color: silver;
        font-size: 42px;
    }

    #Header2
    {
        position: absolute;

        color: silver;

        top: 110px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header2:hover
    {
        color: silver;
        font-size: 32px;
    }

    #Header3
    {
        position: absolute;

        color: silver;

        top: 860px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header3:hover
    {
        color: silver;
        font-size: 32px;
    }


    #Header4
    {
        position: absolute;

        color: silver;

        top: 1150px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header4:hover
    {
        color: silver;
        font-size: 32px;
    }

    #Header5
    {
        position: absolute;

        color: silver;

        top: 1590px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header5:hover
    {
        color: silver;
        font-size: 32px;
    }

   
    #Paragraph1
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 160px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph1:hover
    {
        color: silver;
        font-size: 25.5px;
    }

    #Paragraph2
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 910px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph2:hover
    {
        color: silver;
        font-size: 25.2px;
    }

    #Paragraph3
    {
        position: absolute;
  
        color: silver;

        right: 10px;
        top: 1210px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph3:hover
    {
        color: silver;
        font-size: 25.1px;
    }

    #Paragraph4
    {
        position: absolute;
 
        color: silver;

        right: 10px;
        top: 1640px;

        text-align: center;

        padding-left: 10px;

        font-size: 23px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph4:hover
    {
        color: silver;
        font-size: 23.5px;
    }
   

    #Image1
    {
        position: absolute;

        right: 90px;
        top: 430px;
    } 

    .Image11
    {
        height: 430px;
        transition: 0.6s ease;
    }

    .Image11:hover 
    {
        height: 410px;
    }


}

@media only screen and (min-width: 1280px)
{
    
    body
	{
        background-image: url(Black2.svg);
        background-repeat: repeat;
    }

    .wrapper
	{
		background-color: clear;
		margin-right: auto;
		margin-left: auto;
		width: 100%;

    }

    #MenuBar
    {
        background-image: url(B1.jpg); 
        background-position-y: 450px;
        background-position-x: 400px;

        background-color: red;
        

        position: absolute;
        top: 0.3px;
        left: 0.2px;    
        
        padding-top: 115px;
        padding-left: 1519px;

    }

    #FutabWebsHeader
    {
        position: absolute;

        color: silver;

        left: 100px;
        top: -10px;

        font-size: 40px; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;

    }

    #FutabWebsHeader:hover
    {
        color: silver;
        font-size: 41px;
    }

    /* Main center text field */  
    .CenterTextBox
    {
        position: absolute;
        
        background-color: black;
        border-style: solid;
        border-radius: 20%;

        /* background-color: gray; */

        left: 335px;
        top: 115px;

        padding-top: 1930px;
        padding-left: 828px;

	/* border-style: dashed;*/ 
        
    }

       

    .FutabaLogo
    {   

        position: absolute;

        background-image: url(RB.jpg);
        background-size: 150px;
        background-repeat: no-repeat;

        left: 345px;
        top: -113px;

        cursor: pointer;
        height: 150px;
        width: 150px;
        margin: 0 2px;
        background-color: purple;
        border-radius: 50%;
        display: inline-block;
        transition: 0.1s ease;
    }

    .FutabaLogo:hover
    {
        height: 160px;
        width: 160px;
        background-position-x: 0px;
        background-size: 160px;
        background-image: url(RB2.jpg);
        
    }

    #Header1
    {
        position: absolute;

        color: silver;

        /* font-weight: bold; */

        top: 70px;
        right: 300px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
        
    }

    #Header1:hover
    {
        color: silver;
        font-size: 42px;
    }

    #Header2
    {
        position: absolute;

        color: silver;

        top: 110px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header2:hover
    {
        color: silver;
        font-size: 32px;
    }

    #Header3
    {
        position: absolute;

        color: silver;

        top: 860px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header3:hover
    {
        color: silver;
        font-size: 32px;
    }


    #Header4
    {
        position: absolute;

        color: silver;

        top: 1150px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header4:hover
    {
        color: silver;
        font-size: 32px;
    }

    #Header5
    {
        position: absolute;

        color: silver;

        top: 1590px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header5:hover
    {
        color: silver;
        font-size: 32px;
    }

   
    #Paragraph1
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 160px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph1:hover
    {
        color: silver;
        font-size: 25.5px;
    }

    #Paragraph2
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 910px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph2:hover
    {
        color: silver;
        font-size: 25.2px;
    }

    #Paragraph3
    {
        position: absolute;
  
        color: silver;

        right: 10px;
        top: 1210px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph3:hover
    {
        color: silver;
        font-size: 25.1px;
    }

    #Paragraph4
    {
        position: absolute;
 
        color: silver;

        right: 10px;
        top: 1640px;

        text-align: center;

        padding-left: 10px;

        font-size: 23px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph4:hover
    {
        color: silver;
        font-size: 23.5px;
    }
   

    #Image1
    {
        position: absolute;

        right: 90px;
        top: 430px;
    } 

    .Image11
    {
        height: 430px;
        transition: 0.6s ease;
    }

    .Image11:hover 
    {
        height: 410px;
    }


}

@media only screen and (min-width: 1920px)
{
    
    body
	{
        background-image: url(Black2.svg);
        background-repeat: repeat;
    }

    .wrapper
	{
		background-color: clear;
		margin-right: auto;
		margin-left: auto;
		width: 100%;

    }

    #MenuBar
    {
        background-image: url(B1.jpg); 
        background-position-y: 450px;
        background-position-x: 450px;

        background-color: red;
        

        position: absolute;
        top: 0.3px;
        left: 0.2px;    
        
        padding-top: 115px;
        padding-left: 1919px;

    }

    #FutabWebsHeader
    {
        position: absolute;

        color: silver;

        left: 1590px;
        top: -10px;

        font-size: 40px; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;

    }

    #FutabWebsHeader:hover
    {
        color: silver;
        font-size: 41px;
    }

    /* Main center text field */  
    .CenterTextBox
    {
        position: absolute;
        
        background-color: black;
        border-style: solid;
        border-radius: 20%;

        /* background-color: gray; */

        left: 525px;
        top: 115px;

        padding-top: 1930px;
        padding-left: 828px;

	/* border-style: dashed;*/ 
        
    }

       

    .FutabaLogo
    {   

        position: absolute;

        background-image: url(RB.jpg);
        background-size: 150px;
        background-repeat: no-repeat;

        left: 345px;
        top: -113px;

        cursor: pointer;
        height: 150px;
        width: 150px;
        margin: 0 2px;
        background-color: purple;
        border-radius: 50%;
        display: inline-block;
        transition: 0.1s ease;
    }

    .FutabaLogo:hover
    {
        height: 160px;
        width: 160px;
        background-position-x: 0px;
        background-size: 160px;
        background-image: url(RB2.jpg);
        
    }

    #Header1
    {
        position: absolute;

        color: silver;

        /* font-weight: bold; */

        top: 70px;
        right: 300px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
        
    }

    #Header1:hover
    {
        color: silver;
        font-size: 42px;
    }

    #Header2
    {
        position: absolute;

        color: silver;

        top: 110px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header2:hover
    {
        color: silver;
        font-size: 32px;
    }

    #Header3
    {
        position: absolute;

        color: silver;

        top: 860px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header3:hover
    {
        color: silver;
        font-size: 32px;
    }


    #Header4
    {
        position: absolute;

        color: silver;

        top: 1150px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header4:hover
    {
        color: silver;
        font-size: 32px;
    }

    #Header5
    {
        position: absolute;

        color: silver;

        top: 1590px;
        left: 67px;

        font-size: 30px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header5:hover
    {
        color: silver;
        font-size: 32px;
    }

   
    #Paragraph1
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 160px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph1:hover
    {
        color: silver;
        font-size: 25.5px;
    }

    #Paragraph2
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 910px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph2:hover
    {
        color: silver;
        font-size: 25.2px;
    }

    #Paragraph3
    {
        position: absolute;
  
        color: silver;

        right: 10px;
        top: 1210px;

        text-align: center;

        padding-left: 10px;

        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph3:hover
    {
        color: silver;
        font-size: 25.1px;
    }

    #Paragraph4
    {
        position: absolute;
 
        color: silver;

        right: 10px;
        top: 1640px;

        text-align: center;

        padding-left: 10px;

        font-size: 23px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph4:hover
    {
        color: silver;
        font-size: 23.5px;
    }
   

    #Image1
    {
        position: absolute;

        right: 90px;
        top: 430px;
    } 

    .Image11
    {
        height: 430px;
        transition: 0.6s ease;
    }

    .Image11:hover 
    {
        height: 410px;
    }


}

/*1440p Resoultion*/
@media only screen and (min-width: 1924px)
{
    
    body
	{
        background-image: url(Black2.svg);
        background-repeat: repeat;
    }

    .wrapper
	{
		background-color: clear;
		margin-right: auto;
		margin-left: auto;
		width: 100%;

    }

    #MenuBar
    {
        background-image: url(B1.jpg); 
        background-position-y: 450px;
        background-position-x: 1280px;

        background-color: red;
        

        position: absolute;
        top: 0.3px;
        left: 0.2px;    
        
        padding-top: 115px;
        padding-left: 2559px;

    }

    #FutabWebsHeader
    {
        position: absolute;

        color: silver;

        left: 1690px;
        top: -10px;

        font-size: 40px; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;

    }

    #FutabWebsHeader:hover
    {
        color: silver;
        font-size: 41px;
    }

    /* Main center text field */  
    .CenterTextBox
    {
        position: absolute;
        
        background-color: black;
        border-style: solid;
        border-radius: 20%;

        /* background-color: gray; */

        left: 525px;
        top: 115px;

        padding-top: 1930px;
        padding-left: 1438px;

	/* border-style: dashed;*/ 
        
    }

       

    .FutabaLogo
    {   

        position: absolute;

        background-image: url(RB.jpg);
        background-size: 150px;
        background-repeat: no-repeat;

        left: 645px;
        top: -113px;

        cursor: pointer;
        height: 150px;
        width: 150px;
        margin: 0 2px;
        background-color: silver;
        border-radius: 50%;
        display: inline-block;
        transition: 0.1s ease;
    }

    .FutabaLogo:hover
    {
        height: 160px;
        width: 160px;
        background-position-x: 0px;
        background-size: 160px;
        background-image: url(RB2.jpg);
        
    }

    #Header1
    {
        position: absolute;

        color: silver;

        /* font-weight: bold; */

        top: 70px;
        right: 580px;

        font-size: 50px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
        
    }

    #Header1:hover
    {
        color: silver;
        font-size: 52px;
    }

    #Header2
    {
        position: absolute;

        color: silver;

        top: 130px;
        left: 75px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header2:hover
    {
        color: silver;
        font-size: 42px;
    }

    #Header3
    {
        position: absolute;

        color: silver;

        top: 870px;
        left: 67px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header3:hover
    {
        color: silver;
        font-size: 42px;
    }


    #Header4
    {
        position: absolute;

        color: silver;

        top: 1150px;
        left: 67px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header4:hover
    {
        color: silver;
        font-size: 42px;
    }

    #Header5
    {
        position: absolute;

        color: silver;

        top: 1530px;
        left: 67px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header5:hover
    {
        color: silver;
        font-size: 42px;
    }

   
    #Paragraph1
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 160px;

        text-align: center;

        padding-left: 20px;

        font-size: 29px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph1:hover
    {
        color: silver;
        font-size: 29.1px;
    }

    #Paragraph2
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 910px;

        text-align: center;

        padding-left: 10px;

        font-size: 32px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph2:hover
    {
        color: silver;
        font-size: 32.1px;
    }

    #Paragraph3
    {
        position: absolute;
  
        color: silver;

        right: 10px;
        top: 1210px;

        text-align: center;

        padding-left: 10px;

        font-size: 29px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph3:hover
    {
        color: silver;
        font-size: 29.1px;
    }

    #Paragraph4
    {
        position: absolute;
 
        color: silver;

        right: 10px;
        top: 1570px;

        text-align: center;

        padding-left: 10px;

        font-size: 32px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph4:hover
    {
        color: silver;
        font-size: 23.5px;
    }
   

    #Image1
    {
        position: absolute;

        right: 90px;
        top: 430px;
    } 

    .Image11
    {
        height: 430px;
        width: 1250px;
        transition: 0.6s ease;
    }

    .Image11:hover 
    {
        height: 410px;
    }


}

@media only screen and (min-width: 2560px)
{
    
    body
	{
        background-image: url(Black2.svg);
        background-repeat: repeat;
    }

    .wrapper
	{
		background-color: clear;
		margin-right: auto;
		margin-left: auto;
		width: 100%;

    }

    #MenuBar
    {
        background-image: url(B1.jpg); 
        background-position-y: 450px;
        background-position-x: 1280px;

        background-color: red;
        

        position: absolute;
        top: 0.3px;
        left: 0.2px;    
        
        padding-top: 115px;
        padding-left: 2559px;

    }

    #FutabWebsHeader
    {
        position: absolute;

        color: silver;

        left: 1690px;
        top: -10px;

        font-size: 40px; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;

    }

    #FutabWebsHeader:hover
    {
        color: silver;
        font-size: 41px;
    }

    /* Main center text field */  
    .CenterTextBox
    {
        position: absolute;
        
        background-color: black;
        border-style: solid;
        border-radius: 20%;

        /* background-color: gray; */

        left: 525px;
        top: 115px;

        padding-top: 1930px;
        padding-left: 1438px;

	/* border-style: dashed;*/ 
        
    }

       

    .FutabaLogo
    {   

        position: absolute;

        background-image: url(RB.jpg);
        background-size: 150px;
        background-repeat: no-repeat;

        left: 645px;
        top: -113px;

        cursor: pointer;
        height: 150px;
        width: 150px;
        margin: 0 2px;
        background-color: silver;
        border-radius: 50%;
        display: inline-block;
        transition: 0.1s ease;
    }

    .FutabaLogo:hover
    {
        height: 160px;
        width: 160px;
        background-position-x: 0px;
        background-size: 160px;
        background-image: url(RB2.jpg);
        
    }

    #Header1
    {
        position: absolute;

        color: silver;

        /* font-weight: bold; */

        top: 70px;
        right: 580px;

        font-size: 50px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
        
    }

    #Header1:hover
    {
        color: silver;
        font-size: 52px;
    }

    #Header2
    {
        position: absolute;

        color: silver;

        top: 130px;
        left: 75px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header2:hover
    {
        color: silver;
        font-size: 42px;
    }

    #Header3
    {
        position: absolute;

        color: silver;

        top: 870px;
        left: 67px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header3:hover
    {
        color: silver;
        font-size: 42px;
    }


    #Header4
    {
        position: absolute;

        color: silver;

        top: 1150px;
        left: 67px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header4:hover
    {
        color: silver;
        font-size: 42px;
    }

    #Header5
    {
        position: absolute;

        color: silver;

        top: 1530px;
        left: 67px;

        font-size: 40px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: 0.6s ease;
    }

    #Header5:hover
    {
        color: silver;
        font-size: 42px;
    }

   
    #Paragraph1
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 160px;

        text-align: center;

        padding-left: 20px;

        font-size: 29px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph1:hover
    {
        color: silver;
        font-size: 29.1px;
    }

    #Paragraph2
    {
        position: absolute;

        color: silver;

        right: 10px;
        top: 910px;

        text-align: center;

        padding-left: 10px;

        font-size: 32px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph2:hover
    {
        color: silver;
        font-size: 32.1px;
    }

    #Paragraph3
    {
        position: absolute;
  
        color: silver;

        right: 10px;
        top: 1210px;

        text-align: center;

        padding-left: 10px;

        font-size: 29px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph3:hover
    {
        color: silver;
        font-size: 29.1px;
    }

    #Paragraph4
    {
        position: absolute;
 
        color: silver;

        right: 10px;
        top: 1570px;

        text-align: center;

        padding-left: 10px;

        font-size: 32px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        transition: 0.6s ease;
    }

    #Paragraph4:hover
    {
        color: silver;
        font-size: 23.5px;
    }
   

    #Image1
    {
        position: absolute;

        right: 90px;
        top: 430px;
    } 

    .Image11
    {
        height: 430px;
        width: 1250px;
        transition: 0.6s ease;
    }

    .Image11:hover 
    {
        height: 410px;
    }


}